<div class="navbar navbar-inverse navbar-fixed-left">
  <img src="../../assets/logo.png" style="width: 138px; height: 120px;">
  <a class="navbar-brand" routerLink="/home">
    <b>
      <i class="fa fa-sun-o" aria-hidden="true"></i>
      SUNLINE
    </b>
  </a>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/commercial">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        &nbsp;Commercial
      </a>
    </li>
    <li>
      <a routerLink="/musicvideo">
        <i class="fa fa-music" aria-hidden="true"></i>
        &nbsp;Music Video
      </a>
    </li>
    <li>
      <a routerLink="/film">
        <i class="fa fa-film" aria-hidden="true"></i>
        &nbsp;Film
      </a>
    </li>
    <li>
      <a routerLink="/print">
        <i class="fa fa-print" aria-hidden="true"></i>
        &nbsp;Print
      </a>
    </li>
    <li>
      <a routerLink="/teledrama">
        <i class="fa fa-television" aria-hidden="true"></i>
        &nbsp;Teledrama
      </a>
    </li>
    <li>
      <a (click)="logoutFromSystem()" style="cursor: pointer;">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        &nbsp;Log Out
      </a>
    </li>
  </ul>
</div>


