<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <h1>
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      Dash board
    </h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <a class="bootcards-summary-item" routerLink="/commercial">
        <h1>
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
        </h1>
        <h4>Commercial</h4>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a class="bootcards-summary-item" routerLink="/musicvideo">
        <h1>
          <i class="fa fa-music" aria-hidden="true"></i>
        </h1>
        <h4>Music Video</h4>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a class="bootcards-summary-item" routerLink="/film">
        <h1>
          <i class="fa fa-film" aria-hidden="true"></i>
        </h1>
        <h4>Film</h4>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a class="bootcards-summary-item" routerLink="/print">
        <h1>
          <i class="fa fa-print" aria-hidden="true"></i>
        </h1>
        <h4>Print</h4>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a class="bootcards-summary-item" routerLink="/teledrama">
        <h1>
          <i class="fa fa-television" aria-hidden="true"></i>
        </h1>
        <h4>Teledrama</h4>
      </a>
    </div>
  </div>
</div>
